*{
    font-family:  monospace;
   margin:0px 0px;

}
.article{
    margin-top: 111px;
}
h1{
    margin:20px ;
}
p{
    font-size: 20px;
    margin-left:25px;
    
}

.mode{
    top: 5px;
        position: fixed;
        right: 5px;
        justify-content: center;
        display: flex;
        flex-direction: column;
}
.modeName{
    border: 2px solid black;
    border-radius: 5px;
    background-color: green;
    text-align: center;
    width: max-content;
    margin:5px auto;
    padding: 5px;
}

button{
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    margin:20px auto;
    padding: 0px 0px;
}