body {
  font-family: "fira code";
  display: flex;

  justify-content: center;
  text-align: center;
  position: relative;
  top: 50%;
}
div {
  background-color: lightblue;
  width: 450px;
  max-width: 1000px;
  border: 3px solid blueviolet;
  border-radius: 5px;
  margin: 10px;
}
div:hover {
  box-shadow: 5px 5px grey;
  height: 105%;
}
button {
  border-radius: 8px;
  background-color: bisque;
  padding: 5px 10px;
  margin: 10px;
  font-size: large;
}
button:hover {
  background-color: aqua;
}
input {
  font-size: 30px;
}
label {
  font-size: 20px;
}
