* {

    font-family: monospace;
    font-size: 23px;
    text-align: center;
}

#numberlabel {
    display: block;
    text-align: center;
    font-size: 3em;

}

#btncontainer {
    text-align: center;
    padding: 5px 2px;
}

.btn {
    cursor: pointer;
    border-radius: 7px;
    transition-delay: 0.1s;
}

.btn:hover {
    background-color: #103af782;

}
#decreasebtn{
  background-color: red;
}
#resetbtn{
  background-color: grey;
}
#increasebtn{
  background-color: greenyellow;
}